.app {
    font-family: Arial, sans-serif;
    padding: 1rem;
  }
  
  h1 {
    text-align: center;
  }
  
  .event-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .event-filters select,
  .event-filters input {
    margin-right: 0.5rem;
    padding: 0.3rem;
  }
  
  .event-card {
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
  }
  
  .event-card .status {
    font-weight: bold;
  }
  
  .event-card .status.past {
    color: red;
  }
  
  .event-card .status.upcoming {
    color: green;
  }
  
  .event-card button {
    margin-top: 0.5rem;
    padding: 0.2rem 0.5rem;
    background-color: #deb887;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .event-card button:hover {
    color: white;
    background-color: #986b31;
  }
  
  .event-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .event-form input,
  .event-form textarea,
  .event-form button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .event-form input[type="date"] {
    padding: 0.5rem;
  }
  
  .event-form textarea {
    resize: vertical;
  }
  
  .event-form button {
    background-color: #deb887;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  .event-form button:hover {
    color: white;
    background-color: #986b31;
  }
  
  .main-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .event-list-container {
    flex: 1;
  }
  
  
  